
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta name="robots" content="all,follow">
        <meta name="googlebot" content="index,follow,snippet,archive">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Landing Page | Landing Page Bootstrap Theme by Bootstrapious.com!</title>

        <meta name="keywords" content="">

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>

        <!-- Bootstrap and Font Awesome css -->
        <link href="css/font-awesome.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- owl carousel css -->

        <link href="css/owl.carousel.css" rel="stylesheet">
        <link href="css/owl.theme.css" rel="stylesheet">

        <!-- Theme stylesheet -->
        <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

        <!-- Custom stylesheet - for your changes -->
        <link href="css/custom.css" rel="stylesheet">

        <!-- CSS Animations -->
        <link href="css/animate.css" rel="stylesheet">

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.png">

        <!-- Mordernizr -->
        <script src="js/modernizr-2.6.2.min.js"></script>

        <!-- Responsivity for older IE -->
        <!--[if lt IE 9]>
        <script src="js/respond.min.js"></script>
    <![endif]-->

        <meta property="og:title" content="Landing Page | Landing Page Bootstrap Theme by Bootstrapious.com!">
        <meta property="og:site_name" content="Landing Page | Landing Page Bootstrap Theme by Bootstrapious.com!">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">

        <meta property="og:image" content="">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:creator" content="@bootstrapious">

    </head>

    <body data-spy="scroll" data-target="#navigation" data-offset="120">


        <!-- *** NAVBAR ***
        _________________________________________________________ -->




        <div id="all">


            <!-- *** INTRO IMAGE ***
        _________________________________________________________ -->
            <div id="intro" class="clearfix">
                <div class="item">
                    <div class="container">
                        <div class="row">

                            <h1 data-animate="fadeInDown">Welcome to SEND WHICH!</h1>
                            <p  class="message" data-animate="fadeInUp">Please Upload Your File</p>


                            <div class="col-md-6 col-md-offset-3" data-animate="fadeInUp">
                                 <form method="POST" enctype="multipart/form-data" action="/home/upload" class="form" >
                                    <div class="input-group">
                                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                            <div style="width:400px" class="form-control" data-trigger="fileinput">
                                               <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                               <span class="fileinput-filename"></span>
                                            </div>
                                            <span class="input-group-addon btn btn-default btn-file">
                                              <!-- 파일이 선택되지 않았을 때의 클래스 적용 -->
                                                <span class="fileinput-new">Select file</span>
                                                <!-- 파일이 선택되었을 때의 클래스 적용 : 새로운 파일 업로드 -->
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" name="sendfile">
                                            </span>
                                            <!-- 파일이 선택되었을 때의 클래스 적용 : 새로고침으로 기존의 데이터 삭제함 -->
                                          <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                        </div>
                                        <p class="text-small">Don't submit private files!</p><br>
                                        <button type="submit" class="btn btn-labeled btn-success">
                                          <span class="btn-label">
                                            <i class="glyphicon glyphicon-ok"></i>
                                          </span>SUBMIT
                                        </button>
                                     </form>
                                    </div>
                                    <!-- /input-group -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- *** INTRO IMAGE END *** -->



            <!-- *** SERVICES ***
        _________________________________________________________ -->

            <div class="section" id="footer">
                <div class="container">

                    <div class="row">

                        <div class="col-sm-6">

                            <p class="social">
                                <a href="#" class="external facebook" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external instagram" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
                                <a href="mailto:#" class="email" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>
                        <!-- /.6 -->

                        <div class="col-sm-6">
                            <p>&copy; 2016 Your name goes here.
                                <!-- Do not remove the attribution, thx! If you need to do so, pls donate (http://bootstrapious.com/donate) to support us! -->
                                Theme by <a href="http://bootstrapious.com/landing-pages" class="external">Bootstrapious landing pages</a>.</p>
                        </div>

                    </div>

                </div>
                <!-- /.container -->
            </div>
            <!-- /.section -->

            <!-- *** FOOTER END *** -->
        </div>

        <!-- js base -->
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>


        <!-- waypoints for scroll spy -->
        <script src="js/waypoints.min.js"></script>

        <!-- owl carousel -->
        <script src="js/owl.carousel.min.js"></script>

        <!-- jQuery scroll to -->
        <script src="js/jquery.scrollTo.min.js"></script>

        <!-- main js file -->

        <script src="js/front.js"></script>


    </body>
</html>
